<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novatech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/grupo_7_NovaTech/Novatech/src/public/css/product.css">
</head>
<body>
    <header>

    </header>

    <main id="main">

        <div class="container">

            <div class="categories">
                <a href="#">Novatech</a>
                <span>/</span>
                <a href="#">Categorías</a>
                <span>/</span>
                <a href="#">Producto</a>
            </div>

            <article class="product">

                <div class="main-product">
                    <div class="small-images">
                        <div class="small-img"><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt=""></div>
                        <div class="small-img"><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt=""></div>
                    </div>
                    <div class="big-img">
                        <img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt="Imagen Producto">
                    </div>
                </div>

                <div class="info-product">
                    <p class="description">MODELO: A320MH 2.0 | GTIN: 4712960685291
                    </p>
                    <h1 class="product-title">MOTHERBOARD BIOSTAR A320MH AM4
                    </h1>
                    <p class="product-price">$87499</p>
                    
                    <form id="form">
                        <button class="button">Comprar</button>
                        <button class="add-to-cart"><i class="fas fa-cart-plus"></i>Agregar al carrito</button>
                    </form>
                </div>
                    
            </article>

            <div class="related-items"> 
                <h3>Productos relacionados</h3>           
                <div class="carousel">
                    
                    <div class="cards">
                        <div class="card">
                            <div><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt="Item"></div>
                            <div class="info-item">
                                <h4 class="name-item">Motherboard Biostar A320MH AM4</>
                                <h5 class="price-item">$87499</h5>
                            </div>
                            <form class="call-to-action">
                                <button class="button"><i class="fas fa-shopping-cart""></i>Agregar</button>
                            </form>
                        </div>
                        <div class="card">
                            <div><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt="Item"></div>
                            <div class="info-item">
                                <h4 class="name-item">Motherboard Biostar A320MH AM4</h4>
                                <h5 class="price-item">$87499</>
                            </div>
                            <form class="call-to-action">
                                <button class="button"><i class="fas fa-shopping-cart""></i>Agregar</button>
                            </form>
                        </div>
                        <div class="card">
                            <div><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt="Item"></div>
                            <div class="info-item">
                                <h4 class="name-item">Motherboard Biostar A320MH AM4</h4>
                                <h5 class="price-item">$87499</>
                            </div>
                            <form class="call-to-action">
                                <button class="button"><i class="fas fa-shopping-cart""></i>Agregar</button>
                            </form>
                        </div>
                        
                        <div class="card">
                            <div><img src="https://www.venex.com.ar/products_images/1691157600_a320.png" alt="Item"></div>
                            <div class="info-item">
                                <h4 class="name-item">Motherboard Biostar A320MH AM4</h4>
                                <h5 class="price-item">$87499</h5>
                            </div>
                            <form class="call-to-action">
                                <button class="button"><i class="fas fa-shopping-cart""></i>Agregar</button>
                            </form>
                        </div>
                    </div>
                    
                </div> 
            </div>

        </div>

    </main>

    <footer>
        
    </footer>

</body>
</html>