<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a NovaTech</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="/img/logoNovaTechSinFondo2.png" alt="Logo de NovaTech">
                </div>
                <div class="form" action="#" method="GET">
                    <ul>
                        <input type="text" placeholder="Buscar...">
                        <i class="fas fa-search" style="color: #ffffff;"></i>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <i class="fas fa-user-circle"></i><a href="/login">Inicia Sesión</a>
                        <i class="fas fa-cart-plus"></i><a href="/productCart">Mis compras</a>
                    </ul>
                </nav>
            </div>
            <div class="header2">
                <p><i class="fas fa-bars"></i>  Búsqueda por Categoría</p>
            </div>
        </header>
        <section class="carrusel">
            <img src="" alt="Carrusel de Productos">
        </section>
        <main>
            <section class = "offers">
                <p><h2>Ofertas</h2></p>
                <div class="products">
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </body>
    <footer>
        <p><h2>Información de Contacto</h2></p>
        <div class="links">
            <i class="fab fa-facebook" style="color: blue;"></i><a href="https:/www.facebook.com">www.facebook.com/novatech</a>
            <i class="fab fa-instagram" style="color: blueviolet;"></i><a href="https:/www.instagram.com">www.instagram.com/novatech</a>
            <i class="fab fa-twitter" style="color: blue;"></i><a href="https:/www.twitter.com">www.twitter.com/novatech</a>
            <i class="fab fa-youtube" style="color: red;"></i><a href="https:/www.youtube.com">www.youtube.com/novatech</a>
        </div>
    </footer>
</html>