
<%- include("partials/head")%>
<%- include("partials/header")%>
    <body>
      
        
        <section class="carrusel">
            <img src="" alt="Carrusel de Productos">
        </section>
        <main>
            <section class = "offers">
                <p><h2>Ofertas</h2></p>
                <div class="products">
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                    <article>
                        <img src="/img/monitor-ASUS.png" alt="Monitor ASUS 22'' " class="product_img">
                        <div class="main-article">
                            <h3 class="description">Monitor ASUS 22''</h3>
                            <p class="price">$70.999</p>
                            <p class="discount">10% off</p>
                            <p class="dues">3 cuotas sin interés</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
    </body>
    <%- include("partials/footer")%>
</html>