<%- include("partials/head")%>
    <body>
        <%- include("partials/header")%>
       
        <main class="general-login">
            <form action="login.html" method="post" >
            <section class="login">
                <div class="box-login">
                <h1 class="login-title">NovaTech</h1>
                <ul>
                    <il><input type="text" name="correo" placeholder="Ingresar correo..." class="data"></il>
                    <il><input type="text" name="contraseña" placeholder="Ingresar contraseña..." class="data"></il>
                    <button type="submit" class="log">Ingresar</button>
                </ul>
                <h4><a href="/register">Registrese gratis acá</a></h4>
                </div>
            </section>
        </main>
        </body>
        <%- include("partials/footer")%>
    </html>