<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a NovaTech</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="/img/logoNovaTechSinFondo2.png" alt="Logo de NovaTech">
                </div>
                <div class="form" action="#" method="GET">
                    <ul>
                        <input type="text" placeholder="Buscar...">
                        <i class="fas fa-search" style="color: #ffffff;"></i>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <i class="fas fa-user-circle"></i><a href="/login">Inicia Sesión</a>
                        <i class="fas fa-cart-plus"></i><a href="/productCart">Mis compras</a>
                    </ul>
                </nav>
            </div>
            <div class="header2">
                <p><i class="fas fa-bars"></i>  Búsqueda por Categoría</p>
            </div>
        </header>
        <main class="general-register">
            <form action="register.html" method="post" >
            <section class="register">
                
                <div>
                <ul>
                    <il><h1 class="registrarse">NovaTech</h1></il>
                    <il><input type="text" name="Name" placeholder="Nombre" class="border"></il>
                    <il ><input type="text" name="Name" placeholder="Apellido" class="border"></il>
                    <il><p><label>Información de Contacto</label></il></p>
                    <il ><p><input type="email" name="email" placeholder="e-mail" class="border"></il></p>
                    <il ><input type="text" name="Name" placeholder="Cod.Área" class="border"></il>
                    <il ><input type="text" name="Name" placeholder="Nro. Teléfono" class="border"></il>
                    <il"><p><input type="password" name="password" id="password" placeholder="Contraseña" class="border"></p></il>
                    <il "><p><input type="password" name="password" id="password" placeholder="Repetir Contraseña" class="border"></p></il>
                    <button type="submit" class="button">Finalizar proceso</button>
              
                    
                </ul>
                </div>


            </section>
        </main>
        </body>
        <footer>
            <div class="links">
                <p><h2>Información de Contacto</h2></p>
                <a href="www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
        </footer>
    </html>