* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.top-header {
    background-color: #0d0d0d;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo img {
    margin-left: 10px;
    width: 90%;
}

.form {
    width: 100%;
}

.form ul {
    margin-top: 20px;
    margin-left: 65px;
}

.form ul input {
    width: 70%;
    margin-right: 10px;
    margin-left: 20px;
}

nav {
    color: #f2f2f0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#imagenCarrito {
    margin-left: 25px;
}

nav ul a {
    margin-left: 10px;
}

.header2 {
    background-color: #8c8674;
    display: flex;
    padding-left: 25px;
}

.header2 p {
    font-family: 'Open Sans', sans-serif;
}

.carrusel {
    height: 300px;
}

main {
    width: 100%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    width: 100%;
}

.offers {
    background-color: #0d0d0d;
    padding: 15px 30px 1px 30px;
}

.offers h2 {
    font-size: 25px;
    color: #f2f2f0;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    background-color: #222220;
    height: 24vh;
}

footer h2 {
    color: #f2f2f0;
    text-align: center;
    position: relative;
    top: 51px;
}

footer .links {
    width: 100%;
    position: relative;
    top: 88px;
    display: flex;
    flex-direction: column;
}

footer .links i {
    margin-left: 30px;
}

footer .links a {
    position: relative;
    bottom: 15px;
    margin-left: 70px;
}

@media (min-width: 481px) {
    .top-header {
        flex-direction: row;
    }

    .logo {
        width: 40%;
        text-align: left;
    }

    .form {
        width: 40%;
    }

    .form ul {
        margin-left: 0;
    }

    nav {
        width: 50%;
    }

    .products {
        display: flex;
    }

    .offers {
        padding: 15px 0px 1px 30px;
    }

    main section article {
        margin-right: 30px;
    }

    .discount {
        width: 50%;
    }

    .price {
        width: 50%;
    }

    footer {
        background-color: #222220;
        padding: 20px;
        text-align: center;
        height: 17vh;
    }

    footer h2 {
        color: #f2f2f0;
    }

    footer .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .links ul {
        list-style: none;
        padding: 0;
    }

    footer .links li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    footer .links i {
        margin-right: 10px;
    }

    footer .links a {
        color: #f2f2f0;
        text-decoration: none;
        bottom: 0;
    }

    footer .links .fab {
        font-size: 20px;
    }
}

@media (min-width: 769px) {}

@media (min-width: 1280px) {}