*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family:"montserrat", sans-serif;
}

.top-header{
    background-color: #0d0d0d;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.logo{
    width: 25%;
}

.form{
    width: 400px;
}

.form ul{
    margin-top: 35px;
    margin-left: 20px;
}

.form ul input{
  width: 70%
}

nav{
    color: #f2f2f0;
    margin-top: 35px;
}

nav ul i{
    margin-left: 25px;
}
nav ul a{
    margin-left: 10px;
}

.header2{
    background-color: #8c8674;
    display: flex;
    padding-left: 100px;
}

.header2 p{
    font-family: 'Open Sans', sans-serif;
}

.carrusel{
    height: 300px;
}

main{
    width: 100%;
    margin: 0 auto;
}
  
main section article{
    background-color: #fff;    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
main section article img{
    width: 100%;
}
  
main section article i,
.discount{
    color: #39b54a;
}
  
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
  
main section h3{
    width: 100%;
}

.offers{
    background-color: #0d0d0d;
    padding: 15px 30px 30px 30px;
}

.offers h2{
    font-size: 25px;
    color: #f2f2f0;
}
  
.price{
    font-size: 18px;
    width: 30%;
}
  
.discount{
    width: 70%;
}
  
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
  
h3,
.description{
    color: #666;
}
  
.description{
    display: none;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
  background-color: #222220;
  height: 42vh;
}

footer h2 {
  color: #f2f2f0;
  text-align: center;
  position: relative;
  top: 51px;
}

footer .links {
  width: 19%;
  position: relative;
  top: 88px;
}


footer .links a{
  position: relative;
  bottom: 15px
}

footer .links i{
    font-size: 30px;
    width: 20%;
    margin-top: 15px;
    margin-left: 30px;
    text-align: center;
  }

  .offers {
    background: black;
    padding: 15px 30px 30px 30px;
  }

  main .cart {
    display: flex;
    justify-content: center;
    background-color: #222220;
    padding: 1vh;
    padding-top: 1vh;
    padding-top: 290px;
  }
  main section .box-cart {
    border: solid;
    background: #1e1e1a;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    bottom: 157px;
    height: 393px;
  }
  main section div.products article{
    width: 22%;
}

main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


@media (min-width: 361px){
}