*, *::before, *::after {
    box-sizing: border-box;
  }

  *{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family:"montserrat", sans-serif;
}

.top-header{
    background-color: #0d0d0d;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.logo {
    text-align: center;
}

.logo img{
    width: 90%;
}

.form{
    width: 100%;
}

.form ul{
    margin-top: 20px;
    margin-left: 40px;
}

.form ul input{
  width: 70%;
  margin-right: 20px;
}

nav{
    color: #f2f2f0;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul i{
    margin-left: 25px;
}
nav ul a{
    margin-left: 10px;
}

.header2{
    background-color: #8c8674;
    display: flex;
    padding-left: 25px;
}

.header2 p{
    font-family: 'Open Sans', sans-serif;
}

.carrusel{
    height: 300px;
}

main{
    width: 100%;
    margin: 0 auto;
}
  
main section article{
    background-color: #fff;    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}
  
main section article img{
    width: 100%;
}
  
main section article i,
.discount{
    color: #39b54a;
}
  
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
  
main section h3{
    width: 100%;
}

.offers{
    background-color: #0d0d0d;
    padding: 15px 30px 1px 30px;
}

.offers h2{
    font-size: 25px;
    color: #f2f2f0;
}
  
.price{
    font-size: 18px;
    width: 30%;
}
  
.discount{
    width: 70%;
}
  
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
  
h3,
.description{
    color: #666;
}
  
.description{
    display: none;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
  background-color: #222220;
  height: 30vh;
}

footer h2 {
  color: #f2f2f0;
  text-align: center;
  position: relative;
  top: 51px;
}

footer .links {
  width: 100%;
  position: relative;
  top: 88px;
  display: flex;
  flex-direction: column;
}

footer .links i{
  margin-left: 30px;
}

footer .links a{
  position: relative;
  bottom: 15px;
  margin-left: 70px;
}
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  a {
    text-decoration: none;
  }

/* Header Styles */


/* Main Styles*/

#main {
    background-color: hsl(60deg 7% 99% / 95%);
    width: 100%;
    padding: 0.5rem;
}

.categories a {
    color:#0D0D0D;
}

.main-product {
    display: flex;
    flex-direction: column-reverse;
}

.info-product,
.main-product {
    margin-top: 1.5rem;
}

.small-images {
    display: flex;
    flex-basis: 20%;
    gap: 0.5rem;
}

.small-images > div {
    padding-top: 0.5rem;
}

.small-images img {
    border: solid 0.5px #F0F0F0; 
}

.big-img {
        flex-basis: 80%;
        background-color: hsl(60, 7%, 95%);
        padding: 1rem;
}

.product-title {  
    color: #0D0D0D;
    font-weight: bold;
}

.description {
    font-size: 1em;
}

.product-price {
    font-size: 1.8rem;
    color: hsl(0 0% 19% / 1);
    font-weight: 700;
}

.button {
    cursor: pointer;
    padding: .5em 1.5em;
    border: 0;
    border-radius: .5rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: hsl(220, 36%, 40%);
    color: hsl(60deg 7% 99% / 95%);
    font-weight: bold;
    margin-top: 0.5rem;
}

.button:hover {
    background-color: hsl(220, 36%, 33%);
}

.add-to-cart {
    cursor: pointer;
    padding: .5em 1.5em;
    border: 0;
    border-radius: .5rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: hsl(60, 7%, 95%);
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 1.4em;
}

.add-to-cart:hover {
    background-color: rgb(231, 231, 228);
}

.info-product form button {
    font-size: 1.4em;
    width: 95%;
}

.related-items h3 {
    text-align: center;
}

.cards {
    display: grid;
    gap: 10px;
    border-radius: 2px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.card {
    background-color: hsl(60, 7%, 95%);
    border-radius: 2px;
    
}

.card > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card button {
    margin-bottom: 0.3rem;
}

.related-items h3 {
    text-align: center;
    font-weight: bolder;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.related-items .info-item,
.related-items form {
    text-align: center;
}

/* Footer Styles */

/* Media queries */

@media (min-width: 361px) {
    
    .info-product h1,
    .info-product .product-price {
        margin-top: 0.5rem;
    }

    .cards {
        grid-auto-columns: 50%;
    }

}

@media (min-width: 769px) {
    
    #main {
        padding: 5rem;
    }

    .product {
        display: flex;
        align-items: flex-start;
    }

    .main-product {
        flex-direction: row;
    }     

    .main-product {
        width: 52%;
    }

    .info-product {
        flex-basis: 48%;
        padding-left: 2rem;
    }
    
    .info-product .description {
        font-size: 0.6rem;
    }

    .info-product form button {
        font-size: 0.8rem;
        
    }

    .small-images {
        flex-direction: column;
        width: 20%;
    }

    .small-images > div {
        padding-top: 0;
    }

    .small-images div,
    .big-img {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }

    .big-img {
        width: 80%;
    }

    .cards {
        grid-auto-columns: 23%;
    }

}