*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family:"montserrat", sans-serif;
}

.top-header{
    background-color: #0d0d0d;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.logo{
    width: 25%;
}

.form{
    width: 400px;
}

.form ul{
    margin-top: 35px;
    margin-left: 20px;
}

.form ul input{
    width: 70%
}

nav{
    color: #f2f2f0;
    margin-top: 35px;

}

nav ul i{
    margin-left: 25px;
}
nav ul a{
    margin-left: 10px;
}

.header2{
    background-color: #8c8674;
    display: flex;
    padding-left: 100px;
}

.header2 p{
    font-family: 'Open Sans', sans-serif;
}

.carrusel{
    height: 300px;
}

main{
    width: 100%;
    margin: 0 auto;
}
  
main section article{
    background-color: #fff;    
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
main section article img{
    width: 100%;
}
  
main section article i,
.discount{
    color: #39b54a;
}
  
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
  
main section h3{
    margin: 20px 0px;
}

.offers{
    background-color: #0d0d0d;
    padding: 15px 30px 30px 30px;
}

.offers h2{
    font-size: 25px;
    color: #f2f2f0;
}
  
.price{
    font-size: 18px;
    width: 30%;
}
  
.discount{
    width: 70%;
}
  
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
  
h3,
.description{
    color: #666;
}
  
.description{
    display: none;
    margin-top: 20px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer{
    background-color: #222220;
    height: 290px;
}

footer h2{
    color: #f2f2f0;
    text-align: center;
}

footer .links{
    width: 25%;
}

footer .links i{
    font-size: 50px;
    width: 20%;
    margin-top: 15px;
    margin-left: 30px;
    text-align: center;
}

footer .links a{
    position: relative;
    bottom: 15px
}

@media (min-width: 361px){
    .progress {
        justify-content: center;
        display: flex;
        position: relative;
        bottom: 111px;
        background-color: #333331;
        margin-top: -22px;
      }
    main .cart {
        display: flex;
        justify-content: center;
        background-color: #222220;
        padding: 1vh;
        padding-top: 1vh;
        padding-top: 290px;
      }
    }
    
        main section .box2 {
        border: solid;
        background: #1e1e1a;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        bottom: 157px;
        height: 393px;
      }
    .box {
        border: solid;
        background: #1e1e1a;
        padding-left: 20px;
        padding-right: 20px;}

    .registrarse {
        text-align: center;
        color: white;
        text-decoration: underline;
        opacity: 80%;
      }
      .register {
        display: flex;
        justify-content: center;
        background-color: #222220;
        padding: 1vh;
        padding-bottom: 54px;
        padding-top: 54px;
      }
      .border {
        border-radius: 5px;
    border: 2px solid #6d5f9d;
    box-shadow: 0 0 10px #6a5fb9, inset 0 0 10px #7176c2;
    color: #7793ae;
    margin-bottom: 14px;
    outline: none;
    background: transparent;
    width: 161px;
    height: 44px;
    text-align: center;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 1px;
  }
     
      .button:hover{
        background:#0022AA
      }
     
      button{
        font-family: "montserrat", sans-serif;
        background: #1a65ab;
        color: #fff;
        border: none;
        position: relative;
        height: 50px;
        font-size: 1.2em;
        padding: 0 2em;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
        bottom: -28px;
        margin-left:49px
      }
      button:hover{
        
        background:#fff;
        color:#1AAB8A;
      }
      button:before,button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #1AAB8A;
        transition:400ms ease all;
      }
      button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      button:hover:before,button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

      .button2:hover{
        background:#0022AA
      }
     
      .button2 {
        font-family: "montserrat", sans-serif;
        background: #1a65ab;
        color: #fff;
        border: none;
        position: relative;
        height: 1px;
        font-size: 13px;
        padding: 1px;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
        bottom: -255px;
        right: -145px;
      }
      .button2:hover{
        
        background:#fff;
        color:#1AAB8A;
      }
      .button2:before,button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #1AAB8A;
        transition:400ms ease all;
      }
      .button2:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .button2:hover:before,button:hover:after{
        width:100%;
        transition:800ms ease all;
      }

    
      main section ul p {
        color: white;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 21px;
        text-decoration: underline;
        font-size: 17px;
      }
    main section article .description{
        display: block;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 5px;
    }
  
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }
  
    .price,
    .discount{
        width: 50%;
    }
  
  @media (min-width: 769px){
    .offers {
      padding: 0px 30px 0px 30px;
    }
    main section div.products article{
        width: 22%;
    }
  }



  .general-register {
    width: 100%;
  }
  