<header>
    <div class="top-header">
        <div class="logo"> 
            <a href="/">
            <img src="/img/logoNovaTechSinFondo2.png" alt="Logo de NovaTech">
        </a>
        </div>
        <div class="form" action="#" method="GET">
            <ul>
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search" style="color: #ffffff;"></i>
            </ul>
        </div>
        <nav>
            <ul>
                <i class="fas fa-user-circle"></i><a href="/login">Inicia Sesión</a>
                <i class="fas fa-cart-plus"></i><a href="/productCart">Mis compras</a>
            </ul>
        </nav>
    </div>
    <div class="header2">
        <p><i class="fas fa-bars"></i>  Búsqueda por Categoría</p>
    </div>
</header>

