<%- include("../partials/head")%>
    <body>
        <%- include("../partials/header")%>
        <main class="general-register">
            <form action="register.html" method="post" >
            <section class="register">
                
                <div class="box">
                <ul>
                    <il><h1 class="registrarse">NovaTech</h1></il>
                    <il><input type="text" name="Name" placeholder="Nombre" class="border"></il>
                    <il ><input type="text" name="Name" placeholder="Apellido" class="border"></il>
                    <il><p><label>Información de Contacto</label></il></p>
                    <il ><p><input type="email" name="email" placeholder="e-mail" class="border"></il></p>
                    <il ><input type="text" name="Name" placeholder="Cod.Área" class="border"></il>
                    <il ><input type="text" name="Name" placeholder="Nro. Teléfono" class="border"></il>
                    <il"><p><input type="password" name="password" id="password" placeholder="Contraseña" class="border"></p></il>
                    <il "><p><input type="password" name="password" id="password" placeholder="Repetir Contraseña" class="border"></p></il>
                    <button type="submit" class="button">Finalizar proceso</button>
              
                    
                </ul>
                </div>


            </section>
        </main>
        </body>
        <%- include("../partials/footer")%>
    </html>